*{
  margin: 0;
  padding: 0;
  background-color: darkcyan;

  
}
.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline block;
  
  
}


input{
height: 30px;
width: 200px;
background-color: white;
border-radius: 10px;
margin: 20px;
font-size: larger;
}
 .Btn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
 }
 .Btn:hover{
  background-color: rgb(159, 94, 94);

 }
 .Card{
font-size: large;
border: 1px solid black;
padding: auto;
margin: 10px;



 }
 img{
  border-radius: 10px;
 }
 .Bttn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
  background-color:yellow;
  color: black;
  cursor: pointer;
  margin-left: 100px;

 }
 select{
  width: 200px;
  height: 30px;
  margin: 10px;
  font-size: larger;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
 }
 select option{
  border: 2px solid black;
 }
